@charset "uft-8";

@media (min-width:768px) {
  .global-menu-wrapper .mobile-btn{ 
    display: none;
}

.global-menu-wrapper .global-menu{
  display: grid;
  grid-template-columns: 1fr 1fr; /*???*/
  /* border: 3px solid #fff; */
  box-shadow: 0 3px rgba(255, 255, 255, 0.8);
}
.global-menu-wrapper .global-menu li:last-child(odd) a{
  border-right: 1px solid #fff;
}
}