@charset "utf-8";

/* global style, common */
a{
  text-decoration: none; color: inherit;
}

img{
  vertical-align: top;
}

body{
  font-family: "GmarketSans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif; ;
  font-weight: 300;
  letter-spacing: -0.4px;
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize; 
  background:#321f11 url(./assets/images/dark-wood.jpg); /* 인터넷 속도가 느리면, #321f11 배경색이 먼저 보임*/
}


/*** main ***/
main{
  border: 4px solid #fff;
  min-width: 940px; max-width: 70vw;
  margin: 20px auto;
  background: #97be5a;
}
/*** header ***/

main header h1{
  font-family: 'Playwrite CU',cursive; /* 폴백fallback 폰트 설정해야 함 */
  font-size: 1.5rem;
  background: #102c57 url(./assets/images/logo.png) no-repeat 25px 50% / 90px; /* 반복안함 / x축위치 y축 위치 / 이미지 사이즈*/
  color: #fff;
  height: 130px;
}
main header h1 em{
  font-family: 'Pacifico', cursive; /* 폴백fallback 폰트 설정해야 함 */
  display: block; /* 간편한 줄바꿈 방식 */
  line-height: 1;
  font-size: 2.1rem;
}
main header .global-menu{}
main header .global-menu li {}
main header .global-menu li a{}

/*** contents ***/


/*** footer ***/
main footer {
  background: #102c57; color: #fff;
  font-size: 14px;
  height: 35px; line-height: 35px;
  padding-left: 20px;
}