@charset "uft-8";

/* 
  블록 요소: p, div, h1, header, main, article, form, ul...
    ㄴ 가로 값의 경우 부모 요소의 가로 값을 받음
    ㄴ 일반적인 흐름에서는 블록 요소 옆에 다른 요소가 올 수 없음
    ㄴ 자식으로 블록, 인라인 요소 등 대부분이 올 수 있음
    ㄴ 세로 값의 경우 자식 요소의 높이 값을 가져 옴
    ㄴ width, height로 제어 가능
    

  인라인 요소: span, img, a, em, input, strong...
    ㄴ 가로 값의 경우 자식(컨텐츠)의 값을 가져 옴
    ㄴ 인라인 요소 옆에 다른 인라인 요소가 올 수 있음
    ㄴ 자식으로 인라인 요소만 올 수 있음
    ㄴ 세로 값의 경우 자식 요소의 높이 값을 가져 옴
    ㄴ width, height로 제어 불가능
*/

.container {
  background-color: rgb(40, 83, 107);

  /* 고정값 너비 width: 300px; height: 200px; */
  /* 가변 너비 */
  width: 70%; /* 상대 단위. 부모를 기준으로 100분의 70 */
  /* height: 50%; : 높이 %는 부모의 높이 값이 정의되어 있는 경우만 적용됨 */
  height: 300px;
  /* 웹의 가로 길이는 물리적으로 정해져있지만, 세로의 길이는 스크롤을 통해 무한대로 확장되기 때문에, height값은 상대 단위 %를 적용할 수 없음. */
}

/* 하위 선택자: 기준 선택자 %하위에 포함된 선택자. 띄어쓰기로 구분. */
/* 하위에 포함만 되어 있으면 적용 */

.container .blockBox1 {
  background-color:rgb(85, 75, 75);
  width: 80%; height: 70%; 
  
  
}
.container .inlineBox1 {
  background-color: tan;
  width: 300px; height: 200px;
}

/* p.blockBox2 종속 선택자: p요소들 중 클래스명이 blockBox2인 요소만 선택 띄어쓰기 없이 붙여 씀 */
p.blockBox2 {
  background-color: #FF9800;
  width: 200px; height: 100px;
}
span.inlineBox2 {
  background-color: #8B93FF;
  width: 200px ; height: 100px;  
} /* 블록은 컨텐츠 없어도 범위 생성됨
인라인은 컨텐츠 없으면 생성 안 됨 */


/* 하위와 종속은 완전 다르다 ...
하위는 벤다이어그램 같은 건데, 종속은 입양 같은 거. */

