@charset "utf-8";

/* nav */
nav {
  position: fixed;
  top:0; 
  width: 100%; height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9694FF;
  z-index: 999;
}
nav .logo {
  background-color: #3D3BF3;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  width: 60px; height: 50px;
  display: grid;
  place-items: center;
  margin-left: 10px;
}
nav .logo.change-bg {
  background-color: orange;
}
nav .gnb {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #FFB38E;
  position: absolute;
  top: 100%;
  width: 100%;
}
nav .gnb a {
  padding: 10px 20px;
  display: block;
  border-bottom: 1px solid #fff;
}
nav .gnb a.colorOn {
  color: maroon;
}

/* main-slide swiper */
.main-slide {
  background-color: #ddd;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main-slide .swiper-wrapper .swiper-slide {
  background: no-repeat 50% / cover;
  text-indent: -9999px;
}
.main-slide .swiper-wrapper .box1 { background-image: url(https://placehold.co/1000x500/0D92F4/000?text=pic1);}
.main-slide .swiper-wrapper .box2 { background-image: url(https://placehold.co/1000x500/F3C623/000?text=pic2);}
.main-slide .swiper-wrapper .box3 { background-image: url(https://placehold.co/1000x500/EB8317/000?text=pic3);}
.main-slide .swiper-wrapper .box4 { background-image: url(https://placehold.co/1000x500/10375C/000?text=pic4);}
.main-slide .swiper-wrapper .box5 { background-image: url(https://placehold.co/1000x500/FD8B51/000?text=pic5);}
.main-slide .swiper-wrapper .box6 { background-image: url(https://placehold.co/1000x500/257180/000?text=pic6);}

footer {
  background-color: #78B3CE;
  text-align: center;
  padding: 20px;
}

/* PC */
@media (width >= 716px) {
  nav {
    background-color: #A0D683;
  }
  nav .gnb {
    position: static;
    width: auto;
    background-color: transparent;
    flex-direction: row;
  }
  nav .gnb a {
    border: none;
  }
}