@charset "uft-8";

form{
  background-color: antiquewhite;
  font-family: "Noto Sans KR", "맑은 고딕", 돋움 sans-serif;
  font-optical-sizing: auto; /* 글꼴의 크기에 따라 자동으로 조절 */
  font-weight: 400;
  font-style: normal;
  color: #222;
  max-width: 500px;min-width: 300px; /*최대 500이상 커지지 않고, 최소 300 이하 작아지지 않음, */
  margin: 30px auto; /*form도 블럭임*/

  overflow: hidden;
  }

form fieldset{
  background-color: #fff;
  border: 3px solid burlywood;
  border-radius: 20px;
  width: 80%;  
  margin: 50px auto;
  /* 마진 상쇄 효과
   - 일반적인 흐름에서, 자식의 margin-top과 부모의 margin-top이 만나면 둘 중 큰 값이 ! 부모에게! 적용.
   - 해결 방법: 부모 요소에 overflow:hidden; 적용
  */
  
  padding: 2%, 6%;

  text-align: right;
  
}

form fieldset legend{
  background-color:burlywood;
  color: #fff;
  font-family: "Black Han Sans", 맑은 고딕, sans-serif;
  padding: 2px 10px;
  letter-spacing: 2px;

  text-align: left;
}

form fieldset input{
  width: 70%;
  outline: none; /* 크롬, 엣지, 웨일 등 모던 브라우저에서 생기는 현상으로, 포커스 상태일 때 생기는 테두리 없앰 */
  padding: 4px 6px;
    
  font-family: inherit; /*상속*/
  color: inherit;

  margin-bottom: 10px;
  border: 2px solid transparent; /* #fff말고 투명 transparent 사용하기 */
  border-bottom: 2px solid burlywood;
}

form fieldset input:hover{
  border: 2px solid #674636 ;
}

/* 속성(특성) 선택자: 요소[속성], 요소[속성=값], [속성] */
form fieldset input[type=text]:focus { /* :focus , 포커스가 잡혔을 때*/
  background-color: #b3b3b3;
}

/* ?? */
form fieldset[required]:focus {
  background-color: tomato;
  border-color: transparent;
}


form button{
  background-color: #674636;
  border: none;
  padding: 4px 20px;
  font-family: inherit;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin: 10px 0 30px;
}

form button:hover{
  background-color: burlywood;

}