@charset "utf-8";

html{
  /* font-size: calc(10*(100vw/1400)); : 반응형 등에 사용. 사이트의 사이즈에 맞게 폰트 사이즈가 작아지거나 커짐*/

  /* clamp(최소값, 선호값, 최대값) : 최소값·최대값을 넘기지 않음 */
  font-size: clamp(14px 1vw 16px);
}

html ::-webkit-scrollbar-track{
  background-color: transparent; /*투명*/
}

html ::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.3);
  border-radius: 16px;
  border: 1px solid rgba(0,0,0,0.1);
  
}

/* global */
body{
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  font-weight: 400;

  /* 한글 기준 */
  word-break: break-all;
  overflow-wrap: break-word; /*단어를 기준으로 */

  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  
}


/* 많이 쓰는 스타일 저장, 이후 html로 옮김 */
.flex-wrapper{
  display: flex;
  align-items: center; 
}
.main-title{
  font-family: "Play", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem; font-weight: 700;
  text-transform: capitalize;
}
.main-title::before{
  content: "";
  width: 5px; height: 42px;
  background: orange;
  display: block;  
  transform: skew(-25deg);
  margin: 110px auto 30px;

}

.main-desc{
  font-weight: 300;
  color: #222;
  font-size: clamp(15px, 1vw, 17px);
  min-width: 400px;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.4;
}
.more-btn{
  transition: 0.3s;
  background: orange;
  color: #fff;
  text-transform: capitalize;
  position: absolute;
  padding: 10px 40px;
  left: 50%;
  transform: translateX(-50%);
}

.more-btn:hover{
  border-radius: 30px;
}

/* header */
header{
  background: rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.7);
  color: #fff;

  position: fixed;
  width: 100%;

  z-index: 9999;

}

header .header-wrapper{
  max-width: 1800px;
  min-width: 1400px;
  margin: 0 auto;
  height: 100px;

  justify-content: space-between;
}
header .header-wrapper .logo{
  margin: 0 10px;

}

header .header-wrapper .logo a{
  display: block;
  width: 206px; height: 100%;
  text-indent: -9999px;

  background: url(./style/img/logo_ov.png) no-repeat 0 50% / contain;
  }


  header .header-wrapper .global-menu{
    font-size: clamp(17px, 1vw, 19px);
    font-weight: 600;
    width: 50%; height: 100%;
    height: 100%;

    display: flex;
  
  }
  header .header-wrapper .global-menu li{
    height: 100%;
    flex: 1; /* flex-grow: 1; flex-shrink: 1; flex-basis: 1; */
  }

  header .header-wrapper .global-menu li:hover{
    color: #ff8a26;
  }
  header .header-wrapper .global-menu li a{
      /*
  display: flex;
  align-items: center;
  justify-content: center;
  */
    display: grid;
    place-items:  center;
    height: 100%;
  }

  header .header-wrapper .global-utill{
    font-size: clamp(12px 1vs, 14px);
    margin: 0 10px;

    display: flex;
  }

  header .header-wrapper .global-utill a{
    display: block;
    margin-left: 36px;
  }

  header .header-wrapper .global-utill li:first-child a{
    background: orange url(./style/img/main_reserve_icon2_2108.png ) no-repeat 15px 50% / 20px;
    width: 130px;
    border-radius: 30px;
    padding: 6px 0 6px 22px;
    font-weight: 600;

    position: relative\;
  }

  header .header-wrapper .global-utill li:not(:first-child) a::after{
    content: "";
    position: absolute;
    width: 0; height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 4px;
  }

  header .header-wrapper .global-utill a .low_case{
    text-transform: lowercase;
  }

/* footer */
