@charset "utf-8";

/* 1200px 이상 */
@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }

  h1 {
    background-color: #006769;
    color: #fff;
    /* padding: 50px; */
    padding: 2.7rem;
  }

  h2 {
    display: none;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
  }
}