@charset "uft-8";

*{padding: 0; margin: 0; text-decoration: none;}

body{
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: capitalize;
  
  background-image: url(./img.PNG);
  background-repeat: no-repeat;
  background-size: cover ;
  bg
}
.gnb .menu {padding: 10px;
  border-bottom: 1px solid #fff;}
.gnb .menu a{color: #fff;  margin: 10px;}
.gnb .menu:hover{
  background: rgba(36, 24, 56,0.6);
}

@media (width >=768px) {
  background: #000;
}