@charset "urf-8";

body {
  font-family: 'SpoqaHanSans', '맑은 고딕', 돋움, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  background-color: #ddd;
}
.flex-wrapper {
  display: flex;
  align-items: center;
}
.grid-wrapper {
  display: grid;
}
.center {
  display: grid;
  place-items: center;
}
.transit {
  transition: 0.3s;
}