@charset "utf-8";

/***** header *****/
header {
  position: fixed;
  top:0;
  width: 100%;
  height: 100px;
  background-color: #FFAD60;
  justify-content: space-between;
  padding: 0 20px;
}
header .title strong {
  cursor: pointer;
  background-color: #1230AE;
  color:#fff;
  padding: 20px;
  margin-right: 10px;
}
/* nav */
header .menu-wrapper {

}
/* 모바일 메뉴 */
header .menu-wrapper .mobile-btn {
  background-color: #FA4032;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  place-content: center;
}
header .menu-wrapper .mobile-btn span {
  display: block;
  width: 25px; height: 2px;
  background-color: #fff;
}
header .menu-wrapper .mobile-btn .bar2 {
  width: 20px;
  margin: 6px 0;
}
header .menu-wrapper .mobile-btn.toggle-btn .bar1 { transform: translateY(8px) rotate(45deg); }
header .menu-wrapper .mobile-btn.toggle-btn .bar2 { transform: scale(0); }
header .menu-wrapper .mobile-btn.toggle-btn .bar3 { transform: translateY(-8px) rotate(-45deg); }

header .menu-wrapper .global-menu {
  background-color: #FA812F;
  position: absolute;/* header fixed를 기준 */
  top: 100%; left: 0;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  height: 0;
  overflow: hidden;
  color:#fff;
}
header .menu-wrapper .global-menu a {
  display: block;
}
header .menu-wrapper .global-menu.toggle-menu {
  display: flex;
  height: 200px;
}
/* 스크롤시 header 변경 */
header.change-header {
  height: 80px;
  background-color: transparent;
  box-shadow: 0 1px 1px rgba(0,0,0,0.7);
  backdrop-filter: blur(5px);
}
header.change-header .title strong {
  padding: 10px;
}
header.change-header .title span {
  opacity: 0;
  user-select: none;
  /* pointer-events: 마우스 이벤트 제어 */
}
header.change-header + .slide-wrapper {
  margin-top: 80px;
}

/***** contents *****/
.slide-wrapper {
  background-color: #CB9DF0;
  margin-top:100px;
  height: 50vh;
  font-size: 3rem;
}
.box {
  font-size: 3rem;
  height: calc(100vh - 80px);
  color:#fff;
  padding-top: 100px;
}
#box1 { background-color: #740938; }
#box2 { background-color: #AF1740; }
#box3 { background-color: #CC2B52; }
#box4 { background-color: #DE7C7D; }


/***** PC *****/
@media screen and (min-width: 768px) {
  header .menu-wrapper .mobile-btn {
    display: none;
  }
  header .menu-wrapper .global-menu {
    height: auto;
    background-color: transparent;
    flex-direction: row;
    position: static;/* 포지션 무력화 */
  }
}