@charset "UTF-8";
/* 같은 이름의 선택자 혹은 같은 종류의 속성인 경우 */
h1{/* 타입 선택자 */
  color: red;
  color: blue; /* 같은 속성이 적용된 경우, 아래 쪽에 작성된 값이 우선 적용 */
}

h1{/* 같은 선택자의 경우, 아래쪽에 적용된 값이 우선 적용 */
  color: brown;}

/* 같은 선택자가 아닌 다른 종류 선택자인 경우 */
section{/* 타입 선택자(1) */
  background-color: rgb(236, 245, 255);

}
#box2 {/* 아이디 선택자(5) */
  background-color: rgb(254, 214, 186);
}

.box {/* 클래스 선택자(3): 한 문서 내에서 같은 이름을 여러 번 사용할 수 있기 때문에 주로 꾸밈 값을 줄 때나 공통된 값 적용시 사용 */
  background-color: rgb(255, 249, 198);
}
