@charset "utf-8";

.tab-menu {
  margin: 50px auto;
  width: 600px;
  position: relative;
  padding-top: 50px;
}

.tab-menu #tab-css .tab-title {
  left: 200px;
}

.tab-menu #tab-js .tab-title {
  left: 400px;
}

/* 각 영역의 제목 */
.tab-menu li .tab-title {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  background: skyblue;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

/* 각 영역의 설명 */
.tab-menu li .tab-desc {
  background: skyblue;
  padding: 20px;
  display: none;
}

.tab-menu li .tab-desc strong {
  text-transform: lowercase;
  display: block;
  margin: 10px 0;
}

.tab-menu li .tab-desc span {}


/* active */
.tab-menu li.active .tab-title,
.tab-menu li.active .tab-desc{
  background: rgb(43, 151, 194);
  display: block;
}
