@charset "utf-8";

/* 
@ at-rule
@import 다른 문서를 가져올 때 @import url();
@media 미디어쿼리 적용
@keyframes 애니메이션 만들때
@supports 브라우저가 특정 css 지원여부 확인
@font-face

- 웹폰트란?
  사용자의 폰트 설치와 상관없이 웹에서 항상 원하는 서체를 사용할 수 있게 하는 폰트

- 현재 웹폰트 사용: 사용자의 컴퓨터에 설치되지 않은 글꼴을 서버에 올려놓은 후, 해당 사이트에 접속하는 사용자의 컴퓨터에 다운되어 보여지게 함

- 설정:
@font-family: '사용자 지정 이름';
scr: local(),
     url() format();
}

@font-family: '노토산스'; <- 스타일 문서에 적용할 이름으로 내가 설정
src: local('로컬 서체 이름으로, 내가 설정한 이름이 아님').
url('경로') format('파일포맷');

font-style:normal;
font-weight: 400;
font-display: swap; 로딩 상태에 따른 동작 설정

- swap; FOUT 방식. 로딩되는 동안 기본 서체로 보이고 완료되면 웹폰트 적용. 웹폰트 로딩 여부와 관계없이 항상 글자 보임
- auto; 브라우저 기본값
- block; FOIT 방식. 웹폰트가 로딩되지 않으면 텍스트를 렌더링하지 않음. 로딩 완료 후 글자 보임

- unicode-range: 유니코드로 지정한 글자에만 웹폰트를 적용. 등록한 글자가 텍스트에 없으면 다운로드 요청 하지 않기 때문에 불필요한 다운로드를 하지 않음 

-font-weight 설명:
https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping
*/

/* "Pacifico", "Playwrite CU", cursive; : 사전 폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+CU:wght@100..400&display=swap');

/* GmarketSans 사전 설정 */

@font-face {
  font-family: 'GmarketSans'; /* 내가 설정한 이름 */
  src: local('GmarketSans'), url(../assets/fonts/GmarketSansTTFLight.woff2) format('woff2'), url(../assets/fonts/GmarketSansTTFLight.woff) format('woff');

  font-style: normal; 
  font-weight: 300; /* = lighter; */
  font-display: swap; 
}

/* 여러 굵기의 서체가 있는 경우, 경로와 font-weight의 값 설정만 변경 */
@font-face {
  font-family: 'GmarketSans'; /* 내가 설정한 이름 */
  src: local('GmarketSans'), url(../assets/fonts/GmarketSansTTFMedium.woff2) format('woff2'), url(../assets/fonts/GmarketSansTTFMedium.woff) format('woff');

  font-style: normal; 
  font-weight: 500;
  font-display: swap; 
}

@font-face {
  font-family: 'GmarketSans'; /* 내가 설정한 이름 */
  src: local('GmarketSans'), url(../assets/fonts/GmarketSansTTFBold.woff2) format('woff2'), url(../assets/fonts/GmarketSansTTFBold.woff) format('woff');

  font-style: normal; 
  font-weight: 700;
  font-display: swap; 
}