@charset "utf-8";

/* ----- header ----- */
.container .header {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  /* background-color: #fff; */
  padding: 0 40px;
}
.container .header .logo svg {
  width: 100px;
  fill: #fff;
  opacity: 0.5;
}
.container .header .nav .global-menu-btn {
  font-size: var(--desc-sxx);
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
}
.container .header .nav .global-menu-btn::before {
  content: "";
  width: 150px; height: 5px;
  border-radius: var(--primary-radius);
  display: block;
  margin: 0 auto;
  background-color: #fff;
  transition: 0.3s;
}
.container .header .nav:hover .global-menu-btn::before {
  content: "";
  transform: scaleX(1.1);
}
.container .header .nav .global-menu {
  backdrop-filter: blur(50px);
  text-align: center;
  width: 98%;
  position: absolute;
  left: 50%; top: 15px;
  transform: translate(-50%, -120%);
  transition: 0.5s;
  border-radius: var(--primary-radius);
  font-size: var(--title-sm);
  font-weight: 500;
  line-height: 1.3;
  padding: 100px 0;
  text-transform: uppercase;
}
.container .header .nav .global-menu li a {
  display: block;
  transform: translateY(-100px);
  transition: 0.6s;
}
.container .header .nav .global-menu.on {
  transform: translate(-50%, 0);
}
.container .header .nav .global-menu.on li a {
  transform: translateY(0);
}
.container .header .nav .global-menu.on li:nth-child(2) a { transition-delay: 0.05s; }
.container .header .nav .global-menu.on li:nth-child(3) a { transition-delay: 0.1s; }
.container .header .nav .global-menu.on li:nth-child(4) a { transition-delay: 0.2s; }
.container .header .nav .global-menu.on li:nth-child(5) a { transition-delay: 0.29s; }
.container .header .nav .global-menu.on li:nth-child(6) a { transition-delay: 0.38s; }

/* ----- contents ----- */
/* -- article.box -- */
.box {
  display: grid;
  margin: 60px 40px 100px;
}

/* - box1#intro- */
.box1 {
  height: 100vh;
  grid-auto-rows: auto 1fr auto;
}
.box1 .intro-title {
  font-size: var(--title-lg);
  text-transform: uppercase;
  line-height: 0.9;
  justify-self: end;
}
.box1 .intro-desc {
  align-self: end;
  margin-bottom: 30px;
}
.box1 .intro-desc span {
  color: #666;
}
.box1 .intro-bg-logo .bg-logo {
  overflow: visible;
}

/* - box2#podcast - */
.box2 .blur-box {
  grid-template-columns: 1fr 1fr;
  padding: 60px 60px 20vh;
}
.box2 .podcast-title {
  font-size: var(--title-sx);
  line-height: 1;
  font-weight: 300;
  place-self: center;
}
.box2 .podcast-desc p {
  margin: 20px 0;
  max-width: 600px;
  min-width: 300px;
}
.box2 .podcast-desc p:last-of-type {
  margin-bottom: 50px;
}
.box2 .text-ani-wrapper {
  margin-top: 40px;
  position: relative;
}
.box2 .text-ani-wrapper .text-ani {
  font-size: var(--title-lg);
  line-height: 0.9;
  display: grid;
  margin: 20px 0;
  overflow: hidden;
}
.box2 .text-ani-wrapper .text-ani::before {
  content: "";
  position: absolute;
  top:0; right: 10px;
  width: 120px; height: 120px;
  border-radius: 50%;
  background-color: maroon;
  animation: txtAni infinite 1s alternate;
}

.box2 .text-ani-wrapper .text-ani li {
  user-select: none;
  transform: translateX(50px);
  grid-row-start: 1;
  grid-column-start: 1;
  opacity: 0;
}

/* - box3#project - */
.box3 {
  border-top: var(--border);
  padding: 40px 0;
}
.box3 .project-top {
  display: grid;
  justify-items: end;
}
.box3 .project-top p {
  grid-column-start: -1;
  grid-row-start: 1;
  align-self: start;
  z-index: 9;
}
.box3 .project-top video {
  border-radius: var(--primary-radius);
  width: 50%;
  grid-column-start: -1;
  grid-row-start: 1;
  justify-self: center;
}
.box3 .project-top h2 {
  font-size: var(--title-xxl);
  line-height: 1;
}
.box3 .project-top .project-title1 {
  grid-column-start: -1;
  grid-row-start: 1;
  align-self: end;
}
.box3 .project-top .project-title2 {
  justify-self: center;
}
.box3 .project-bottom {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}
.box3 .project-bottom .project-desc {
  min-width: 400px;
  max-width: 600px;
}
.box3 .project-bottom .project-desc p {
  margin: 30px 0;
}
.box3 .project-bottom .sns-group {
  display: flex;
  gap: 40px;
  align-self: flex-end;
}
.box3 .project-bottom .sns-group img {
  display: block;
  height: 26px;
}

/* - box4#listen - */
.box4 {
  grid-template-columns: 1fr 3fr;
}
.box4 .sticky-wrapper {}
.box4 .sticky-wrapper .listen-title {
  font-size: var(--title-sm);
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
}
.box4 .list-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 20px;
}
.box4 .list-items .list-item a .item-bg {
  background-color: var(--list-color1);
  display: grid;
  place-items: center;
  aspect-ratio: 1 / 1;
  border-radius: var(--primary-radius);
}
.box4 .list-items .list-item a img {
  width: 25%;
}
.box4 .list-items .list-item a p {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin: 10px;
}
.box4 .list-items .list-item a p span {
  color: #999;
  font-size: var(--desc-sxx);
}

/* - box5#service - */
.box5 .service-title {
  display: grid;
  width: 80%;
  margin: 100px auto;
}
.box5 .service-title h2 {
  font-size: var(--title-xxl);
  line-height: 1;
}
.box5 .service-title .service-title2 {
  justify-self: center;
}
.box5 .service-title .service-title3 {
  justify-self: end;
}
.box5 .card-list li {
  background-color: #fff;
  color: var(--primary-color);
  border-radius: var(--primary-radius);
  padding: 80px;
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 100px 0;
  box-shadow:
  0px 1.2px 1.9px rgba(0, 0, 0, 0.028),
  0px 2.7px 4.3px rgba(0, 0, 0, 0.051),
  0px 4.8px 7.7px rgba(0, 0, 0, 0.068),
  0px 8px 12.8px rgba(0, 0, 0, 0.081),
  0px 13.2px 21.2px rgba(0, 0, 0, 0.092),
  0px 23.1px 37px rgba(0, 0, 0, 0.112),
  0px 50px 80px rgba(0, 0, 0, 0.23);

  position: sticky;
  top: 100px;
}

.box5 .card-list li h3 {
  font-size: var(--title-sm);
  border-bottom: var(--border);
  letter-spacing: 2px;
  padding-bottom: 20px;
  grid-column: span 2;
} 
.box5 .card-list li .number-box {
  font-size: 17rem;
  font-weight: 400;
  line-height: 0.7;
} 
.box5 .card-list .card-item1 .number-box { color: orange; }
.box5 .card-list .card-item2 .number-box { color: lightblue; }
.box5 .card-list .card-item3 .number-box { color: salmon; }

.box5 .card-list li .text-wrapper {
  font-family: var(--primary-font-ko);
  align-self: end;
} 
.box5 .service-desc {
  max-width: 700px;
  min-width: 400px;
  justify-self: end;
  font-weight: 300;
  margin-top: 150px;
}
.box5 .service-desc p {
  margin: 20px 0;
}

/* - box6#meters - */
.box6 {
  background-color: #fff;
  color: var(--primary-color);
  margin: 60px 0 100px;
}
.box6 .meters-title {
  font-size: var(--title-xl);
  padding: 40px;
}
.box6 .meters-list {
  position: sticky;
  margin: 50px 0;
  padding: 40px;
  top: -50%;
  background-color: #fff;
  z-index: 9;
}
.box6 .meters-list li a {
  padding: 4px 0;
  border-top: var(--primary-color) 1px solid;
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  align-items: center;
}
.box6 .meters-list li:last-of-type a {
  border-bottom: var(--primary-color) 1px solid;
}
.box6 .meters-list li a h3 {
  font-size: var(--title-sm);
  font-weight: 300;
}
.box6 .meters-list li a h3:hover {
  color: var(--list-color9);
}
/* .box6 .meters-list li a h3 + p { justify-self: center } */
.box6 .meters-list li a p { justify-self: end }

.box6 .meter-bottom {
  background-color: #E1DBFD;
  overflow: hidden;
  position: sticky;
  top: 100px;
}
.box6 .meter-bottom .meters-bottom-title {
  font-size: var(--title-xxl);
  display: flex;
}
.box6 .meter-bottom .meters-bottom-title span {
  margin: 40px;
  letter-spacing: 2px;
}
.box6 .meter-bottom .meters-bottom-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
}
.box6 .meter-bottom .meters-bottom-info p {
  grid-column: 2;

}
.box6 .meter-bottom .meters-bottom-info address {
  grid-column: 2;
  font-size: var(--title-sm);
  font-style: normal;
  line-height: 1;
  margin: 40px 0;
}
.box6 .meter-bottom .meters-bottom-info .primary-btn {
  grid-column: 2;
  background-color: var(--primary-color);
  color: #fff;
  justify-self: start;
}
.box6 .meter-bottom .meters-bottom-info .primary-btn:hover {
  background-color: transparent;
  border: var(--primary-color) 1px solid;
  color: var(--primary-color);
}

/* ----- footer ----- */
.footer {
  padding: 40px;
}
.footer .blur-box {
  grid-template-columns: 1fr;
  place-items: center;
  padding: 50px 0 30vh;
}
.footer .footer-title {
  font-size: var(--title-xxl);
}
.footer .footer-list {
  border-top: var(--border);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  gap: 50px;
}