@charset "uft-8";

body{
  background-image: linear-gradient(-15deg, #b7e0ff ,#fff5cd);
  /* background-attachment: fixed; */
  height: calc(100vh - 100px);
  font-family: 'Edu AU VIC WA NT Guides';
  text-transform: capitalize;
}

.profile-wrapper{
  background-color: #fff;
  width: 500px;
  margin: 100px auto;

  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);

  position: relative; /* 이미지 박스의 포지션 기준 */

  overflow: hidden;

}
.profile-wrapper .txt-box{
  padding: 20px;
  width: 50%;

  
}
.profile-wrapper .txt-box h2{
  font-size: 2rem;
  font-style: italic;
  border-bottom: 3px solid #000;
  padding-left: 10px;
}
.profile-wrapper .txt-box p{
  font-family: 'Gowun Dodum', 돋움, sans-serif;
  line-height: 1.6;
  margin: 20px 0 2px 10px;


}
.profile-wrapper .txt-box .sns-group{
  display: flex;
  align-items: flex-end; /* 아이콘은 보통 아래축을 기준으로 맞추고(아래정렬) 각 아이콘의 사이즈와 여백을 조절함  */
}

.profile-wrapper .txt-box .sns-group li:nth-child(2) {
  margin: 0 1.4rem 0 1.15rem;
}

.profile-wrapper .txt-box .sns-group a{
  display: block;
}

.profile-wrapper .txt-box .sns-group a span{
  /* color: lightsalmon; */
  font-size: 2rem;

}

.profile-wrapper .txt-box .sns-group a:hover span{
  color: #b7e0ff;
}

.profile-wrapper h3{
  background: #000;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 4px 20px;
}

/* 이미지 박스 */
.profile-wrapper .img-box{
  text-indent: -9999px;
  border: 6px solid #000;
  background: url(./shoes.jpg) no-repeat 50%;
  border-radius: 50%;
  width: 400px; height: 400px;
  
  position: absolute;
  right: -30%; 
  /* 포지션 적용 시, 세로 중앙 정렬 */

/* 
  top: 0; bottom: 0;
  margin: auto; */

  top: 50%;
  transform: translateY(-50%);

  transition: 0.4s;

}


.profile-wrapper:hover .img-box{
  right: -25%;
}
